@CHARSET "ISO-8859-1";
.uprow {
	margin : 0px;
	padding : 0px;
}
.midrow {
	margin : 0px;
	padding : 0px;
}
.downrow {
	margin : 0px;
	padding : 0px;
}
.leftcol {
	display : inline;
}
.midcol {
	display : inline;
}
.rightcol {
	display : inline;
}
#image a img {
	border : 0px;
}
